p {
    color: white;
    font-size: 20px;
}

.link {
text-align: center;
    color: darkgreen;
    font-size: 20px
}
.morning {
    text-align: center;
}

.image {
text-align: center;

}
.font {

    font-size: 25px;
}

h3 {

    font-size: 20px;
}

.dtn {
    background-color: darkgreen;
}